
.icon-emo-shoot:before { content: '\e810'; } /* '' */
.icon-chat:before { content: '\f03d'; } /* '' */
.icon-angellist:before { content: '\f209'; } /* '' */
.icon-comment:before { content: '\f4ac'; } /* '' */
